USE [NewMoviesDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 03/26/2025 2:52:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhimBo]    Script Date: 03/26/2025 2:52:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhimBo](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Anh] [varchar](255) NULL,
	[TenPhimTV] [varchar](255) NOT NULL,
	[TenPhimEN] [varchar](255) NULL,
	[TheLoai] [varchar](255) NULL,
	[QuocGia] [varchar](255) NULL,
	[NamPhatHanh] [int] NULL,
	[SoTap] [int] NULL,
	[TrangThai] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhimHot]    Script Date: 03/26/2025 2:52:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhimHot](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Anh] [varchar](255) NULL,
	[TenPhimTV] [varchar](255) NOT NULL,
	[TenPhimEN] [varchar](255) NULL,
	[TheLoai] [varchar](255) NULL,
	[QuocGia] [varchar](255) NULL,
	[NamPhatHanh] [int] NULL,
	[LuotXem] [int] NULL,
	[TrangThai] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhimLe]    Script Date: 03/26/2025 2:52:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhimLe](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Anh] [varchar](255) NULL,
	[TenPhimTV] [varchar](255) NOT NULL,
	[TenPhimEN] [varchar](255) NULL,
	[TheLoai] [varchar](255) NULL,
	[QuocGia] [varchar](255) NULL,
	[NamPhatHanh] [int] NULL,
	[ThoiLuong] [varchar](50) NULL,
	[TrangThai] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuanLyTaiKhoan]    Script Date: 03/26/2025 2:52:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuanLyTaiKhoan](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TaiKhoan] [nvarchar](255) NOT NULL,
	[MatKhau] [nvarchar](255) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[VaiTro] [nvarchar](50) NOT NULL,
	[NgayDangKy] [date] NULL,
	[TrangThai] [nvarchar](50) NULL,
 CONSTRAINT [PK__QuanLyTa__3214EC27AA837095] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[PhimBo] ON 

INSERT [dbo].[PhimBo] ([ID], [Anh], [TenPhimTV], [TenPhimEN], [TheLoai], [QuocGia], [NamPhatHanh], [SoTap], [TrangThai]) VALUES (1, N'daredevil.jpg', N'Daredevil: Tái Xu?t', N'Daredevil: Born Again', N'Hành d?ng', N'Hàn Qu?c', 2016, 16, N'Hoàn thành')
INSERT [dbo].[PhimBo] ([ID], [Anh], [TenPhimTV], [TenPhimEN], [TheLoai], [QuocGia], [NamPhatHanh], [SoTap], [TrangThai]) VALUES (2, N'shangri.jpg', N'Shangri-La Frontier: Th? san Game', N'Shangri-La Frontier Season 2', N'Anime', N'M?', 2008, 62, N'Hoàn thành')
SET IDENTITY_INSERT [dbo].[PhimBo] OFF
GO
SET IDENTITY_INSERT [dbo].[PhimHot] ON 

INSERT [dbo].[PhimHot] ([ID], [Anh], [TenPhimTV], [TenPhimEN], [TheLoai], [QuocGia], [NamPhatHanh], [LuotXem], [TrangThai]) VALUES (1, N'cuu-long-thanh-trai-vay-thanh-thumb.jpg', N'C?u Long Thành Tr?i: Vây Thành', N'Twilight of the Warriors: Walled In', N'Hành d?ng', N'Trung Qu?c', 2025, 50000000, N'Hoàn Thành')
SET IDENTITY_INSERT [dbo].[PhimHot] OFF
GO
SET IDENTITY_INSERT [dbo].[PhimLe] ON 

INSERT [dbo].[PhimLe] ([ID], [Anh], [TenPhimTV], [TenPhimEN], [TheLoai], [QuocGia], [NamPhatHanh], [ThoiLuong], [TrangThai]) VALUES (1, N'lang-mo-that-lac-thumb.jpg', N'Lang m? th?t l?c', N'The Lost Mausoleum', N'Hành d?ng', N'Trung Qu?c', 2019, N'181 phút', N'Hoàn thành')
INSERT [dbo].[PhimLe] ([ID], [Anh], [TenPhimTV], [TenPhimEN], [TheLoai], [QuocGia], [NamPhatHanh], [ThoiLuong], [TrangThai]) VALUES (2, N'mat-ma-song-thumb.jpg', N'M?t mã s?ng', N'Safe', N'Hành d?ng', N' M?', 2019, N'132 phút', N'Hoàn thành')
SET IDENTITY_INSERT [dbo].[PhimLe] OFF
GO
SET IDENTITY_INSERT [dbo].[QuanLyTaiKhoan] ON 

INSERT [dbo].[QuanLyTaiKhoan] ([ID], [TaiKhoan], [MatKhau], [Email], [VaiTro], [NgayDangKy], [TrangThai]) VALUES (1, N'admin', N'123456', N'admin@example.com', N'Admin', CAST(N'2025-03-14' AS Date), N'Hoạt động')
INSERT [dbo].[QuanLyTaiKhoan] ([ID], [TaiKhoan], [MatKhau], [Email], [VaiTro], [NgayDangKy], [TrangThai]) VALUES (2, N'user1', N'password', N'user1@example.com', N'User', CAST(N'2025-03-14' AS Date), N'Hoạt động')
INSERT [dbo].[QuanLyTaiKhoan] ([ID], [TaiKhoan], [MatKhau], [Email], [VaiTro], [NgayDangKy], [TrangThai]) VALUES (3, N'vqt2129a', N'1234567', N'vqt2129a@gmail.com', N'User', CAST(N'2025-03-16' AS Date), NULL)
SET IDENTITY_INSERT [dbo].[QuanLyTaiKhoan] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__QuanLyTa__A9D10534B5D71F70]    Script Date: 03/26/2025 2:52:58 PM ******/
ALTER TABLE [dbo].[QuanLyTaiKhoan] ADD  CONSTRAINT [UQ__QuanLyTa__A9D10534B5D71F70] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PhimHot] ADD  DEFAULT ((0)) FOR [LuotXem]
GO
ALTER TABLE [dbo].[QuanLyTaiKhoan] ADD  CONSTRAINT [DF__QuanLyTai__NgayD__403A8C7D]  DEFAULT (getdate()) FOR [NgayDangKy]
GO
ALTER TABLE [dbo].[QuanLyTaiKhoan]  WITH CHECK ADD  CONSTRAINT [CK__QuanLyTai__VaiTr__3F466844] CHECK  (([VaiTro]='User' OR [VaiTro]='Admin'))
GO
ALTER TABLE [dbo].[QuanLyTaiKhoan] CHECK CONSTRAINT [CK__QuanLyTai__VaiTr__3F466844]
GO
