<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>NewMovies</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <link href="/assets/css/bootstrap.css" rel="stylesheet" />
    <link href="/assets/css/fontawesome.pro.6.0.0.css" rel="stylesheet" />
    <link href="/assets/css/index.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-expand-lg fixed-top main-nav">
        <div class="container-fluid">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index"><span>New</span>Movies</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <form class="d-flex search-box" method="get" asp-controller="Home" asp-action="Search">
                    <i class="fa fa-search search-icon"></i>
                    <input type="text" name="Keyword" class="form-control">
                </form>

                <div class="navbar-nav">
                    <a class="nav-link" asp-controller="Home" asp-action="Index">Phim hot</a>
                    <a class="nav-link" asp-controller="Home" asp-action="Series">Phim bộ</a>
                    <a class="nav-link" asp-controller="Home" asp-action="Single">Phim lẻ</a>
                    <a class="nav-link" asp-controller="Home" asp-action="New">Phim mới</a>
                    <a class="nav-link" asp-controller="Home" asp-action="FAQs">FAQs</a>
                </div>

                <div class="ms-auto">
                    @if (Context.Session.GetString("UserId") != null)
                    {
                        <!-- Nếu người dùng đã đăng nhập, hiển thị tên người dùng và nút đăng xuất -->
                        <span class="navbar-text" style="color: #fff; font-size: 1.2em; font-weight: bold;">Xin chào, @Context.Session.GetString("Username")</span>
                        <a class="nav-link" asp-controller="Home" asp-action="Logout">Đăng xuất</a>
                    }
                    else
                    {
                        <!-- Nếu người dùng chưa đăng nhập, hiển thị nút đăng nhập -->
                        <form asp-controller="Home" asp-action="Login" method="get">
                            <button type="submit" class="login-btn">Đăng nhập</button>
                        </form>
                    }
                </div>
            </div>
        </div>
    </nav>

    <main class="Layout">
        @RenderBody()
    </main>

    <div class="footer">
        <p>&copy; 2025 NewMovies. Design by Võ Quang Thành</p>
    </div>

    <script src="/assets/js/bootstrap.bundle.js"></script>
    <script src="/assets/js/style.js"></script>
</body>
</html>
